@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kalam:wght@300;400&family=Moon+Dance&family=Nunito:wght@200;400&family=Open+Sans:wght@300;400;500;600;700;800&family=Overpass:wght@100;200;400;500;600&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,100;1,200;1,400&family=Righteous&family=Roboto:wght@300;400;500&family=Rowdies:wght@300;400&family=Rubik:wght@300;400;500&family=Seymour+One&family=Ubuntu:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 400;
    
}

.container{
    height: 90px;
    left: 0px;
    top: 0px;
    gap: 30rem;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contained {
    display: flex;
    gap: 60;

}
.list {
    display: flex;
    text-decoration: none;
    gap: 30px;
    list-style: none;
}

.box{
    position: absolute;
    width: 132px;
    height: 220px;
    top: 90px;
    background-color: black;
    box-shadow: 0px 2px 2px rgba(2, 2, 2, 0.25);
    border-radius: 0px 20px 20px 20px;
    
}

.sidebar{
    position: absolute;
    width: 132px;
    height: 392px;
    left: 0px;
    top: 140px;
    background: #fdfdfd;
    box-shadow: 0px 2px 2px rgba(2, 2, 2, 0.25);
    border-radius: 0px 0px 20px 20px;
}


.circle{
    position: relative;
    left: 40px;
    top: 20px;
    width: 58px;
    height: 58px;
    border: 1px solid #0029FF;
    border-radius: 20px;
    background-color: white;
}


.text{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 26px;
    color: #0029FF;
}

.sectionText{
    display: flex;
    align-content: space-between;
    text-align: center;
    margin: 20px;
    margin-left: 10rem;
    gap: 20rem;
}

.text {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #0029FF;
}

.button {  
    background: #0029FF;
    color: #F0F0F0;
    padding: 7px  10px;
    border-radius: 10px;
    border: none;
}

.explore{
    position: absolute;
    background: #E9ECEF;
    border-radius: 5px;
    padding: 15px;
    margin-left: 10rem;
}

.leftbar{
    display: flex;
}

.projectText{
    position: relative;
    margin: 10px;
    width: 900px;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.leftbox{
    position: absolute;
    width: 30px;
    height: 394px;
    left: 1250px;
    top: 108px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 00px;
}

.leftText{

    position: absolute;
    width: 50px;
    height: 394px;
    left: 1199px;
    top: 108px;

    background: #010101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;
}

.boxHead{
    font-weight: 200;
    font-size: 30px;
    position: absolute;
    left: 40.59%;
    right: 31.08%;
    top: 5%;
    bottom: -9.33%;
    color: #D9D9D9;
} 

 .leftbar h6{
    position: relative;
    left: 30.59%;
    top: 20%;
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    writing-mode: vertical-lr;
    text-orientation: upright;
 }


.boxContainer{
    position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: end;
   gap: 2rem;
} 

.cards{
    position: relative;
    width: 450px;
    height: 580px;
    left: 220px;
    top: 197px;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.blackbox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    left: 214px;
    top: 397px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 15px 15px 0px 0px;
}

.head{
    margin: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.desc{
    margin: 10px;
    margin-bottom: 50px;  
    font-size: 15px;
    letter-spacing: 0.05em;
}

.youtube{
    width: 100%;
}


.thread{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background: rgba(254, 255, 192, 0.2);
    border: 0.1px solid rgba(0, 0, 0, 0.4);
}

.titles {
 margin-left: 20%;
 font-weight: 600;
}

.table{
    display: flex;
    align-items: center;
    font-size: 12px;
    
}

.table1{
    margin: 10px;
    color: #0d0303;
    box-sizing: border-box;
    width: 50%;
    background: #f6f6f6;
    border: 0.1px solid #33333333;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.subhead{
    margin: 30px;
}
.input1{
    width: 100%;
    height: 15vh;
    border: 0.1px solid #ffffff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.icons {
    margin: 20px;
    gap: 1rem;
    display: flex;
}

.btncat{
    padding: 2px;
    margin-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.table2{
    color: #0d0303;
    box-sizing: border-box;
    background: #f6f6f6;
    border: 0.1px solid #33333333;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.input2{
    width: 100%;
    height: 12vh;
    border: 0.1px solid #ffffff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.input3{
width: 422px;
height: 43px;
margin-left: 10px;

background: #FCFBFB;
box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
border-radius: 5px;
border: 1px solid #fffff2;
}

.desk {
    height: 399px;
    left: 214px;
    background: #FDFDFD;
    border: 1px solid #D1CECE;
    border-radius: 0px 0px 15px 15px;
}


.listy{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #616161;
    font-size: 14px;
}

.listCon{
    margin-left: 40px;
    padding: 10px;
    width: 80%;
    background: #FCFBFB;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
    border-radius: 5px 5px 0px 0px;
}

.listy1{
    list-style: none;
    display: flex;
    color: #616161;
    font-size: 14px;
    gap: 10px;
}

.btncat1{
color: gray;
height: 20px;
background: #EBEBEB;
border: none;
}

.listCon1{
    margin: 5px;
    margin-left: 40px;
    padding: 10px;
    width: 80%;
    height: 95px;
    background: #FCFBFB;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.desk1 {
    height: 77%;
    left: 214px;
    background: #FDFDFD;
    border: 1px solid #D1CECE;
    border-radius: 0px 0px 15px 15px;
}


.intro{
    width: 80%;
    margin-left: 40px;
    height: 43px;
    left: 768px;
    top: 1186px;
    background: #F2F2F2;
}
.align{
    margin: 20%;
}

.introText{
    margin: 20px;
    margin-left: 30px;
    height: 67px;
    font-size: 14px;
}

.btncat2{
    margin: 20px;
    font-size: 14px;
    color: #606161;
    margin-left: 70%;
}

.intro2{
    margin: 10px;
    width: 80%;
    margin-left: 40px;
    height: 43px;
    border: 2px solid #f6f6f6;
}

.align2{
    margin: 20%;
}

.introText2{
    margin: 20px;
    margin-left: 30px;
    height: 67px;
    font-size: 14px;
    
}
.btncat3{
    margin: 20px;
    font-size: 14px;
    color: #606161;
    margin-left: 70%;
}

.intro3{
    margin: 40px;
    width: 80%;
    height: 43px;
    border: 2px solid #f6f6f6;
}
.align3{
    margin-left: 50px;
}

.lsText{
    width: 100%;
    font-size: 1px;
}

.round{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}


.logoRound{
    list-style: none;
    background-color: #0029FF;
    border-radius: 60px;
    margin: 20px;
    width: 85px;
    height: 85px;
}

.logx{
    position: absolute;
    margin: 2%;
    width: 37px;
}

.logy{
    position: absolute;
    margin: 2%;
    width: 37px;
}

.logz{
    position: absolute;
    margin: 2%;
    width: 37px;
}
